<div class="share-wrapper slide-right d-none d-md-block">
  <a class="share dim display-04">
    <span class="open-text">{{ __('Share', 'theme') }}</span>
    <span class="close-text">{{ __('Close', 'theme') }}</span>
  </a>
</div>
<div class="share-buttons">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}" target="_blank">Facebook</a> <a href="mailto:?subject= {{post.link}}" title="Share by Email" target="_blank">Mail</a> <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.link }}" target="_blank">Linkedin</a>
</div>
