{# Navbar #}
<nav class="ly-nav navbar reveal-static navbar-expand-md d-flex">
  <div class="navbar-brand ">
      {% include "partials/logo.twig" %}
  </div>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav ml-auto dim-items">
      {% for item in topNav.get_items %}
      <li class="nav-item nav-link nav-text {{item.classes | join(' ')}}">
        <span>{{item.title}}</span>

        {% if item.get_children %}
          <ul class="nav-drop dim-items">
          {% for child in item.get_children %}
            <li class="nav-drop-item ">
              <a class="nav-link text-02 bold {{child.classes | join(' ')}}" href="{{child.get_link}}">{{child.title}}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </li>
      {% endfor %}
    </div>
  </div>
  <div class="navbar-toggle">
    <button class="sidebar-toggler sidebar-toggler--mobile" type="button" data-toggle="collapse"  aria-expanded="false" aria-label="Toggle navigation">
      <svg width="25px" height="22px" viewBox="0 0 25 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="black" fill-rule="evenodd">
              <path d="M0,0 L25,0 L25,2 L0,2 L0,0 Z M0,10 L25,10 L25,12 L0,12 L0,10 Z M0,20 L25,20 L25,22 L0,22 L0,20 Z" id="Fill-1" fill="#000000"></path>
          </g>
      </svg>
    </button>
  </div>
</nav>
