<section class="flModule">
  <div class="container pb-5">
    {% if flexblock.text %}
      <div class="row reveal-soft">
        <div class="col-md-6 h-spaces">
          {{flexblock.text}}
        </div>
      </div>
    {% endif %}
    <div class="row low-gutters">
      {% for card in flexblock.cardsGroup %}
        <!-- Card -->
        <div class="card reveal-soft card-portrait mb-3 no-hover col-6 col-md-4 {{card.bgColor.value}}">
          <a href="{{card.links[0].link.url}}"><img class="card-img" loading="lazy" src="{{ Image(card.image).src('small') }}" srcset="{{ Image(card.image).srcset }}" sizes="{{ Image(card.image).img_sizes }}" alt="{{Image(card.image).alt}}" /></a>
          <div class="card-body pl-0">
            {% if card.title %}
              <h5 class="card-title text-01 bold"><a href="{{card.links[0].link.url}}">{{card.title}}</a></h5>
            {% endif %}
            {% if card.text %}
              <div class="card-text text-04">{{card.text}}</div>
            {% endif %}
            {% if card.links %}
            <div class="bottom card-links">
                {% for item in card.links %}
                  <a class="card-link text-link dim" href="{{item.link.url}}" target="{{item.link.target}}">{{item.link.title}}</a>
                {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
