<section class="flModule">
  <div class="list-group mb-5 {{flexblock.bgColor.value}}">
    <div class="container reveal-soft flex-wrap py-5">
      {% if flexblock.image %}
        <div class="list-group-image pb-3">
          <img class="list-img pb-3" loading="lazy" src="{{ Image(flexblock.image).src('small') }}" srcset="{{ Image(flexblock.image).srcset }}" sizes="{{ Image(flexblock.image).img_sizes }}" alt="{{Image(flexblock.image).alt}}" />
        </div>
      {% endif %}
      {% if flexblock.title %}
        <div class="list-group-title pb-5">
          {{flexblock.title}}
        </div>
      {% endif %}
      <div class="row medium-gutters">
        {% for bloc in flexblock.blockGroup %}
          <div class="col text-03">
            <div class="list-content wysiwyg-txt">
              {% if bloc.text %}
                {{bloc.text}}
              {% endif %}
              {% if bloc.image %}

              {% endif %}
            </div>

          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>
